:root{
    font-size: 10px;
}

.box{
    padding: 10px;
    width: 100%;
    width: 100vw; /* vw = viewport fait ref à la largeur du navigateur */
    height: 100vh;
    font-size: 10px;
}

p{
    /* font-size: 2rem; */
    /* 1 rem = 16px
    Le rem fait ref à la font-size de base des navigateurs
     */
     font-size: 2em;
     /* Le em fait référence à son parent, et sinon à la taille par défaut du navigateur*/
}